.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("../../../public/assets/rsz_snakes_and_ladders_board_game_a4.png");
  /* font-family: "Gaegu", cursive; */
  /*background-color: #9c5050;*/
  background-size: cover;
}

.container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  width: 900px;
  max-width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.container .card .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px 10px 1.2rem 10px;
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("https://cdn3.mycity4kids.com/images/article-images/web/headersV2/img-20190808-5d4be15b65355.jpg");
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.527)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url("https://cdn3.mycity4kids.com/images/article-images/web/headersV2/img-20190808-5d4be15b65355.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("https://cdn3.mycity4kids.com/images/article-images/web/headersV2/img-20190808-5d4be15b65355.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.container .card .left h1 {
  color: #ffffff;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 15px;
  /* font-family: "Gaegu", cursive; */
}

.container .card .left .reg {
  color: white;
  font-weight: bold;
  font-size: 22px;
  padding-left: 15px;
  /* font-family: "Gaegu", cursive; */
}

.container .card .left .text {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding-left: 15px;
  font-family: "Gaegu", cursive;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}
.container .card .left .register {
  width: 50%;
  padding: 5px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  background: none;
  border: 1px solid #c06363;
  font-weight: bold;
  font-size: 20px;
  margin-left: 15px;
  /* font-family: "Gaegu", cursive; */
}

.container .card .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px;
}
.container .card .right h1 {
  position: relative;
  color: #464646;
  font-size: 40px;
  margin-bottom: 20px;
  /* font-family: "Gaegu", cursive; */
}

.container .card .right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* font-family: "Gaegu", cursive; */
  gap: 30px;
}

.container .card .right form input {
  border: none;
  font-size: larger;
  /* font-family: "Gaegu", cursive; */
  border-bottom: 1px solid rgb(162, 69, 69);
  padding: 5px 10px;
}

.container .card .right form input:focus {
  outline: none;
}

.container .card .right form button {
  width: 50%;
  padding: 5px;
  background: none;
  border: 1px solid #c06363;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  /* font-family: "Gaegu", cursive; */
}
